<!DOCTYPE html>
<html>
  <head>
    <title>Message Query</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>Welcome! Type your message here - </h1>
    
    <form method="POST" action="/submit-form">

      <label for="senderName">Name</label>
      <input type="text" name="senderName" placeholder="Enter name">
      <br>

      <label for="message">Message</label>
      <input type="text" name="message" placeholder="Enter message">

      <br>
      <input type="submit">
    </form>

  </body>
</html>
